/* Lightbox Styles */
#lightbox {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  overflow: auto;
}

#lightbox-content {
  position: relative;
  max-width: 90%;
  max-height: 90%;
  text-align: center;
}

#lightbox-image {
  max-width: 100%;
  max-height: 80vh;
  object-fit: contain;
  transition: transform 0.3s ease;
}

/* Position buttons outside of the image */
button {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  border-radius: 5px;
}

button:hover {
  background-color: rgba(0, 0, 0, 0.9);
}

#close-btn {
  top: 20px;
  right: 20px;
  margin-bottom: 20px;
}

#zoom-in-btn {
  top: 80px;
  right: 20px;
}

#zoom-out-btn {
  top: 120px;
  right: 20px;
}

#reset-zoom-btn {
  top: 160px;
  right: 20px;
  
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  color: white;
  border: 2px solid white;
  padding: 10px 18px;
  cursor: pointer;
  font-size: 20px;
  z-index: 10;
  border-radius: 5px;


}

/* Navigation buttons outside of the image */
#prev-btn, #next-btn {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: 2px solid white;
  font-size: 30px;
  cursor: pointer;
  z-index: 10;
  padding: 10px;
  border-radius: 5px;
}

/* Fixed positioning of navigation buttons */
#prev-btn {
  left: 20px;
  top: 50%;
  transform: translateY(-50%);
}

#next-btn {
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

/* Gallery Preview Styles */
.slideshow-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.slideshow-container img {
  margin: 1px;
  cursor: pointer;
  max-width: 165px;
  transition: transform 0.3s ease;
}

.slideshow-container img:hover {
  transform: scale(1.1);
}
