/*----------------------------------------------------------------------------
	main.css

	this css-file contains all definitions, that are independend from the
	colorschemes.

	(c) Schlund + Partner AG

	This CSS-File uses the original "Tanteks Box Modell Hack"
	http://www.tantek.com/CSS/Examples/boxmodelhack.html

	NOTE:
	Older W3C CSS validators return errors when the voice-family property
	is used in a 'screen' style sheet. This is an error in the W3C CSS
	validator itself. The validator should report a warning, not an error,
	when properties which are unsupported by a particular medium are used,
	and this has been reported to the W3C:

 ----------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------
 styles for specific classes and ids
----------------------------------------------------------------------------*/

body#main_body {
    margin: 0;
    padding: 0px 0px 6px 0px;
    text-align: center;
}

/*-- global container ------------------------------------------------------*/

#container {
    position: relative;
    padding: 0;
    margin: 0 auto;
    text-align: left;
    width: 955px;
}

#header {
    position: relative;
    padding: 0;
    margin: 0px 0px 21px 0px;
    width: 955px;
    /*height: 114px;*/

    top: 0px;
    left: 0px;
}

#main_container {
    padding: 0;
    /*margin: -75px 20px 20px 20px;*/

    margin: 0px;
}

#layout_table {
    border-collapse: collapse;
}

#sub_nav_column {
    vertical-align: top;
}

#content_column {
    vertical-align: top;
}

#left_column_container {
    margin: 0;
    padding: 0;
    width: 0px;
}

#sub_container1 {
    margin: 0px;
    padding: 0;
    width: 0px;
}

#sub_container2 {
    margin: 0;
    padding: 1px 23px 55px 23px;
    width: 909px;
}

#content_container {
    overflow: hidden;
    margin: 0px;
    padding: 0;
    width: 909px;
}

#bg_submenu_b {
    width: 955px;
    height: 8px;
    font-size: 8px;
    background-repeat: no-repeat;
    clear: both;
}

/*--- key visual -----------------------------------------------------------*/

#key_visual {
    position: relative;
    top: 0;
    left: 0px;
    /*margin-left: 700px;*/

    width: 249px;
    height: 83px;
    float: right;
}

/*--- slogan (as text or background image) ---------------------------------*/

#slogan {
    position: relative;
    top: -10px;
    left: 0px;
    /*margin-left: 175px;*/

    padding: 25px 25px 3px 3px;
    width: 500px;
    height: 28px;
    text-align: center;
    voice-family: "\"}\"";
    voice-family: inherit;
    float: right;
}


/*--- logo -----------------------------------------------------------------*/

#logo {
    background: no-repeat top right;
    width: 166px;
    height: 83px;
    position: relative;
    top: 0px;
    left: 9px;
    float: left;
}



/*--- 
#logo {
    background: no-repeat top right;
    width: 166px;
    height: 83px;
    position: relative;
    top: 0px;
    left: 9px;
    float: left;
}

---*/

/*--- main navigation ------------------------------------------------------*/

#main_nav_container {
    z-index: 1;
    position: relative;
    top: 0px;
    left: 0px;
    line-height: 0;
    padding: 0px 0 0px 0px;
    margin:  0   0 0px 9px;
    overflow: hidden;
    voice-family: "\"}\"";
    voice-family: inherit;
    width: 525px;
    float: left;
}

html>body #main_nav_container {
    /*width: 555px;*/

}

#main_nav_list {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

#main_nav_list li {
    float: left;
    margin: 0px 0 0 0;
    padding: 0;
}

/*--- main navigation items ------------------------------------------------*/

#main_nav_list a {
    overflow: hidden;
    margin: 0;
    /*padding: 3px 19px 2px 10px;*/

    padding-left: 5px;
    padding-right: 5px;
    display: block;
    float: left;
    line-height: 27px;
    text-align: center;
    width: 65px;
    height: 27px;
    voice-family: "\"}\"";
    voice-family: inherit;
    background-position: top left;
    background-repeat: no-repeat;
}

html>body #main_nav_list a {
    height: 27px;
}

a.main_nav_item:hover {
    background: transparent;
}

/*--- container for the subnavigation --------------------------------------*/

.sub_nav_container {
    margin: 0px;
    padding: 0;
    width: 955px;
    /*height: 23px;*/

    overflow: hidden;
    background-repeat: repeat-y;
    clear: both;
}

/*--- subnavigation --------------------------------------------------------*/

.sub_nav_list {
    border: 0;
    margin: 0px 0px 0px 51px;
    padding: 0;
    list-style-type: none;
}

.sub_nav_list li {
    margin: 0px 0 0px 0;
    padding: 0;
    float: left;
}

/*--- subnavigation items --------------------------------------------------*/

.sub_nav_list a {
    overflow: hidden;
    float: left;
    text-align: left;
    line-height: 23px;
    height: 23px;
    padding: 0 15px 0 14px;
    display: block;
    /*width: 97px;*/

    voice-family: "\"}\"";
    voice-family: inherit;
    /*background-position: left;
	background-repeat: no-repeat;*/

}

html>body .sub_nav_list a {
    /*width: 97px;*/

}

/*--- footer ---------------------------------------------------------------*/

#footer {
    margin: 0;
    padding: 0;
    width: 955px;
    height: 31px;
    clear: both;
}


#footer_text {
    width: 935px;
    padding: 5px 15px 5px 5px;
    margin: 0px 0px 0px 0px;
    text-align: left;
}

/*----------------------------------------------------------------------------
  default-styles for .content html-elements
----------------------------------------------------------------------------*/

/*--- paragraph ------------------------------------------------------------*/

.content {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin: 5px 0 20px 0;
    padding: 0;
    line-height: 1.3;
}

.content table {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    margin: 0px 0px 15px 1px;
    border-style: solid;
    border-width: 1px;
    border-spacing: 0;
    border-left: 1px solid;
    border-top: 1px solid;
    border-collapse: collapse;
}

.content select {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
}

.content input {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.content textarea {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    text-decoration: none;
    border-style: solid;
    border-width: 1px;
}

.content p {
    margin: 5px 0 20px 0;
    padding: 0;
    line-height: 1.3;
}

/*--- headings -------------------------------------------------------------*/

/*--- links ----------------------------------------------------------------*/

.content a {
    font-family: Tahoma, Verdana, sans-serif;
    font-size: 100%;
    font-style: normal;
    font-weight: normal;
    text-decoration: underline;
}

/*--- tables ---------------------------------------------------------------*/

.content th {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 5px 3px 5px;
}

.content td {
    border-right: 1px solid;
    border-bottom: 1px solid;
    padding: 3px 5px 3px 5px;
}

.content tr.odd {
    padding: 3px 2px 3px 2px;
}

.content tr.even {
    padding: 3px 2px 3px 2px;
}

/*--- forms ----------------------------------------------------------------*/

.content fieldset {
    padding: 15px;
    border-style: solid;
    border-width: 1px;
}

/*--- lists ----------------------------------------------------------------*/

/*--------------------------------------------------------------------------*/

